[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/data/jupyter/bin/jupyter notebook --config={{ jupyter_config_filename }}
User=jupyter
Group=jupyter
WorkingDirectory=/data
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target