[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/data/jupyter/bin/jupyter notebook --config=/home/jupyter/.jupyter/jupyterhub_config.py
User=jupyter
Group=jupyter
WorkingDirectory=/data
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target